{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--css-->
     <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
     <link href="{% static 'app/css/badminton_court_booking.css' %}" rel="stylesheet">
    <title>WebBookingBadminton</title>
</head>
<body>
  
    <div class="hero">
        <nav>
            <!-- Logo -->
            <img src="https://img.freepik.com/premium-vector/vector-flat-badminton-logo-design_1107171-485.jpg" class="logo" alt="Logo">
           
            <!-- Menu Center -->
            <ul class="menu-center">
                <li><a href="{% url 'home' %}"class="home">Home</a></li>
                <li><a href="{% url 'badminton_court_booking' %}" class="book-court-link">Đặt sân</a></li>    
                <li><a href="#">Lịch Sử Đặt Sân</a></li>
                <li><a href="#">Hỗ Trợ</a></li>
                <li><a href="#">Profile</a></li>
            </ul>

            <!-- Button Group -->
            <div class="button-group">
                <a href="{% url "login" %}" class="login-btn">Đăng Nhập</a>
                <a href="#" class="btn">Tải app</a>
            </div>
        </nav>
        {% block main_content %}{% endblock main_content %}
    </div>
  
    <!--main body-->
    <div id="banner">
        <div class="box-left">
            <h2>
                <span>Sân Cầu</span>
                <br>
                <span>THƯỢNG HẠNG</span>
            </h2>
            <p>Dịch vụ sân cầu lông chất lượng cao với không gian hiện đại, sạch sẽ, đạt chuẩn quốc tế. Cam kết mang đến mặt sân an toàn, ánh sáng tối ưu, môi trường thoáng mát và dịch vụ chu đáo, từ đặt sân đến thuê dụng cụ. Đồng hành cùng bạn nâng cao sức khỏe và kỹ năng thể thao!
            </p>
            <button>Đặt ngay</button>
            
        </div>
        <div class="box-right">
            <img src="assest/img_1.png" alt="">
            <img src="assest/img_2.png" alt="">
            <img src="assest/img_3.png" alt="">
        </div>
        <div class="to-bottom">
            <a href="">
                <img src="assest/to_bottom.png" alt="">
            </a>
        </div>
    </div>
   
  
</body>
</html>
