{% extends "base.html" %}
{% load static %}
{% block contents %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'app/css/profile1.css' %}" rel="stylesheet">
    <title>Trang Thông Tin Tài Khoản</title>
</head>
<body>
    <div class="container">
        <button class="back-button">QUAY LẠI</button>
        
        <h2>Thông tin tài khoản</h2>
        <form action="{% url 'profile1' %}" method="POST">
            {% csrf_token %}
            <label for="name">Họ tên *</label>
            <input type="text" id="name" name="name" value="{{ khachhang.hoten }}" required>
        
            <label for="phone">Số điện thoại *</label>
            <input type="tel" id="phone" name="phone" value="{{ khachhang.sdt }}" required>   
            <label for="phone">Địa Chỉ *</label>

            <input type="tel" id="diachi" name="diachi" value="{{ khachhang.diachi }}" required>  
            <button type="submit">CẬP NHẬT</button>
        </form>
    </div>
</body>
</html>
{% endblock contents %}