{% extends "base.html" %}
{% load static %} 
{% block contents %}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'app/css/profile.css' %}" rel="stylesheet" />
    <title>Thông Tin Tài Khoản</title>
  </head>
  <body>
    <div class="container">
      <!-- Thông Tin Khách Hàng -->
       {% if request.session.taikhoanid %}
      <div class="account-info">
        <h3>Thông Tin Tài Khoản</h3>
        <p><span>Xin chào,</span> {{request.session.username}}</p>
        <p><span>Email:</span> {{khachhang.email|default:"Chưa Xác Định" }}</p> 
        <p><span>Họ tên:</span> {{khachhang.hoten|default:"Chưa Xác Định" }}</p>
        <p><span>Số ĐT:</span> {{khachhang.sdt|default:"Chưa Xác Định" }}</p>
        <p><span>Địa chỉ:</span> {{khachhang.diachi|default:"Chưa Xác Định"}}</p>
        <a href="{% url 'profile1' %}" class="edit-button">Sửa Thông Tin</a>
      </div>
      {% endif %}
      <!-- Bảng Đơn Hàng -->
      <div class="order-section">
        <h3>Đơn Hàng Của Bạn</h3>
        <table>
          <thead>
            <tr>
              <th>Đơn Hàng</th>
              <th>Ngày</th>
              <th>Địa Chỉ</th>
              <th>Giá Trị</th>
              <th>Tình Trạng</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td colspan="5" class="no-orders">Không có đơn hàng nào.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>

</html>
{% endblock contents %}