
.poster {
    flex: 1;
    margin-right: 20px;
}
.poster img {
    width: 100%;
    max-width: 500px;
    border: 3px solid #ff6347;
    border-radius: 10px;
}
.details {
    flex: 2;
    padding-left: 20px;
}
.details h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}
.details .genre {
    font-size: 16px;
    color: #ff6347;
}
.details .actions {
    margin: 10px 0;
}
.details .actions button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.details .actions button:hover {
    background-color: #ff4500;
}
.details .description {
    margin: 20px 0;
    color: #555;
}
.details .info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.details .info div {
    text-align: center;
}
.details .info div span {
    display: block;
    color: #555;
}
.details .cast {
    margin: 20px 0;
    color: #555;
}
.details .cast span {
    display: block;
    margin-bottom: 5px;
}
.booking {
    margin: 20px 0;
}
.booking label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.booking input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}
.booking button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.booking button:hover {
    background-color: #ff4500;
}
.time-slots {
    margin: 20px 0;
}
.time-slots button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px; 
}
.time-slots button:hover {
    background-color: #ff4500; 
}
.back-button {
    position: fixed;
    top: 10px;
    left: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    z-index: 1000;
    text-decoration: none;
}
.back-button:hover {
    background-color: #5a6268;
}


.account-menu {
    position: fixed;
    right: 10px;
    top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.account-menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.account-menu .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.account-menu .dropdown-menu a {
    text-decoration: none; 
    color: #333; 
}

.account-menu .dropdown-menu a:hover {
    color: #ff6347; 
}

.account-menu:hover .dropdown-menu {
    display: block;
}



